td {
    text-align: center;
}

th {
    text-align: center;
}

#question-message {
    font-size:17px;
}

#question-message-link {
    color:royalblue;
}

#add-question-title {
    font-size:16px;
}

#add-question {
    font-size:20px;
}

#question-views {
    float: right;
    font-size:15px;
}

#question-submission_time {
    font-size:13px;
}

#question-image {
    height:250px;
    width:450px;
}
