{% extends "base.html" %}

{% block head %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/display_question.css')}}">
{% endblock %}

{% block header %}
    <div class="topnav">

        <a href="/question/{{ question_id }}/delete" style="float:right" id="nav-hrefs">Delete the question</a>
        <a href="/question/{{ question_id }}/edit" style="float:right" id="nav-hrefs">Edit the question</a>
        <a href="/question/{{ question_id }}/new-tag" style="float:right" id="nav-hrefs">Add new tag</a>

        <a href="/" class="btn-secondary" id="nav-hrefs">Main Page</a>


    </div>
{% endblock %}

{% block content %}
    <main>
        <section>
        <br><br>
        {% for question in questions %}
            {% if question_id == question.id %}
                <br>
                    <a href="/question/{{ question_id }}/vote_up" id="question-up-vote" class="btn btn-success">⬆</a><br><br>
                    <a href="/question/{{ question_id }}/vote_down" id="question-down-vote" class="btn btn-danger">⬇</a>
                    <h2>
                        <strong>{{ question.title }}</strong>
                        {% for tag in tags %}
                            {% for question_tag in questions_tags %}
                                {% if question_id == question_tag.question_id and tag.id == question_tag.tag_id %}
                                    <span style="font-size:20px">
                                        <a href="/question/{{ question_id }}/tag/{{ tag.id }}/delete" style="color: red">X</a>
                                        [{{ tag.name }}]</span>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </h2>

                    {% for user in users %}
                        {% if question.user_id == user.id %}
                                <small id="question-small-tag">Written by {{ user.name }}</small><br>
                        {% endif %}
                    {% endfor %}

                    <small id="question-small-tag">{{ question.submission_time }} | ⇅{{ question.vote_number }}</small>
                    <br><br>

                    <p id="question-message">{{ question.message }}</p>
                    {% if question.image %}
                        <br>
                        <img src="{{ url_for('static', filename=question.image )}}" alt="{{ question.image }}"
                             id="question-image"><br><br>
                    {% endif %}
                    <br>

                    <p id="comment-title">Comment(s) for the question:</p>
                    {% for comment in question_comment %}
                        {% if question_id == comment.question_id %}
                            <article>
                                <div class="question-comments">

                                    {% for user in users %}
                                        {% if comment.user_id == user.id %}
                                            <small id="question-small-tag">Written by {{ user.name }}</small><br>
                                        {% endif %}
                                    {% endfor %}

                                    <small id="question-small-tag">{{ comment.submission_time }} | Edited: {{ comment.edited_count }}</small>
                                    <p>{{ comment.message }}</p>
                                    <a href="/comments/{{ comment.id }}/delete" id="answer-delete" class="btn btn-danger">Delete comment</a>
                                    <br><br>
                                </div>
                            </article>
                        {% endif %}
                    {% endfor %}

                <hr><hr>
            {% endif %}
        {% endfor %}

        </section>

        <section>

            <center>
                <p id="add-comment-section">If you want to ask something just click down below!<br><br>
                <a href="/question/{{ question_id }}/new-answer">Write an answer</a></p>
            </center>

        </section>

        <section>
            <hr><hr><br>
            <button type="submit" id="answer-buttons" class="btn btn-primary" form="accept_answer">Accept the answer(s)</button><br><br><br>
            {% for answer in answers %}
                {% if question_id == answer.question_id %}
                    <article>
                <form method ="post" action="/answer/{{ question_id }}/accept_answer" id="accept_answer">

                    <input type="checkbox" name="accepted" id="accepted" value="{{ answer.id }}" style="height: 17px; width: 17px"
                    {% if answer.accepted %}
                        checked
                    {% endif %}>
                    <label for="checkbox" style="font-size: 18px">Accept the answer</label><br>

                    {% for user in users %}
                        {% if answer.user_id == user.id %}
                            <small id="question-small-tag">Written by {{ user.name }}</small><br>
                            {% endif %}
                        {% endfor %}

                    <small id="question-small-tag">{{ answer.submission_time }} | ⇅ {{ answer.vote_number }}</small>
                        <a href="/answer/{{ answer.id }}/vote_up"
                           id="answer-vote-up" class="btn btn-success">⬆</a><br><br>
                        <a href="/answer/{{ answer.id }}/vote_down"
                           id="answer-vote-down" class="btn btn-danger">⬇</a>


                    {% if answer.accepted == true %}
                        <p id="answer-title">✅ {{ answer.message }}</p>
                        {% else %}
                        <p id="answer-title">{{ answer.message }}</p>
                    {% endif %}


                        {% if answer.image %}
                            <br>
                            <img src="{{ url_for('static', filename=answer.image )}}" alt="{{ answer.image }}" id="answer-image">
                            <br>
                        {% endif %}
                        <br>
                        <a href="/answer/{{ answer.id }}/edit" id="answer-buttons" class="btn btn-primary">Edit answer</a>
                        <a href="/answer/{{ answer.id }}/new-comment" id="answer-buttons" class="btn btn-info">Add comment</a>
                        <a href="/answer/{{ answer.id }}/delete" id="answer-buttons" class="btn btn-danger">Delete answer</a>
                        <br><br>
                        <p id="comment-title">Comment(s) for the answer:</p>
                            {% for comment in comments %}
                                {% if answer.id == comment.answer_id %}
                                <div class="answer-comments">

                                    {% for user in users %}
                                        {% if comment.user_id == user.id %}
                                            <small id="question-small-tag">Written by {{ user.name }}</small><br>
                                        {% endif %}
                                    {% endfor %}

                                    <small id="question-small-tag"><br>{{ comment.submission_time }} | Edited: {{ comment.edited_count }}
                                     </small>
                                    <br>
                                    <p>{{ comment.message }}</p>
                                    <a href="/comments/{{ comment.id }}/delete" id="answer-delete" class="btn btn-danger">Delete comment</a>
                                </div>

                                {% endif %}
                            {% endfor %}

                        <br><hr>


                {% endif %}
            {% endfor %}

                </form>
            </article>
        </section>
    </main>
{% endblock %}