{% extends "base.html" %}

{% block head %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/display_question.css')}}">
{% endblock %}

{% block content %}


    {% for question in questions %}
        {% if question_id == question.id %}
            <div>
            <center>
                <p class="question-title-section">⇅{{ question.vote_number }}
                    <strong>
                        {{ question.title }}
                        {% for tag in tags %}
                            {% for question_tag in questions_tags %}
                                {% if question_id == question_tag.question_id and tag.id == question_tag.tag_id %}
                                    - [{{ tag.name }}]
                                    <a href="/question/{{ question_id }}/tag/{{ tag.id }}/delete"
                                       id="answer-delete">X</a>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </strong>
                    <small id="question-submission_time"><br>Written on: {{ question.submission_time }}</small>
                </p>
                <p id="question-message">{{ question.message }}</p>
                {% if question.image %}
                    <img src="{{ url_for('static', filename=question.image )}}" alt="{{ question.image }}"
                         id="question-image"><br><br>
                {% endif %}
                <a href="/question/{{ question_id }}/vote_up" id="question-up-vote" class="btn btn-success">Up vote</a>
                <a href="/question/{{ question.id }}/vote_down" id="question-down-vote" class="btn btn-danger">Down vote</a>
            </center>
            <br>

            <strong>Comment(s) for the question:</strong>
            {% for comment in question_comment %}
                {% if question_id == comment.question_id %}
                <div id="question-comments">
                    <small id="question-submission_time"><br>Edited: {{ comment.edited_count }}
                        <br>Written on: {{ comment.submission_time }}</small><br>
                    <br>
                    <a href="/comments/{{ comment.id }}/delete" id="answer-delete">X</a>
                    {{ comment.message }} <a href="/comment/{{ comment.id }}/edit">Edit</a>
                </div>
                {% endif %}
            {% endfor %}

        {% endif %}
    {% endfor %}

    <hr>
    {% for question in questions %}
        {% if question_id == question.id %}
    <center>
        <p class="add-comment-section">If you want to ask something just click down below!<br><br>
        <a href="/question/{{ question.id }}/new-answer">Write an answer</a></p>
    </center>
        {% endif %}
    {% endfor %}

    <hr>
    {% for answer in answers %}
        {% if question_id == answer.question_id %}
            <small>Written on: {{ answer.submission_time }}</small>
            <small id="answer-vote-number">Vote(s):<br>⇅ {{ answer.vote_number }}</small><br>
            <a href="/answer/{{ answer.id }}/delete" id="answer-delete">X</a>
                {{ answer.message.capitalize() }}
            <a href="/answer/{{ answer.id }}/edit">Edit</a>
            <br>
            {% if answer.image %}
                <br>
                <img src="{{ url_for('static', filename=answer.image )}}" alt="{{ answer.image }}" id="answer-image">
                <br>
            {% endif %}

            <br><strong>Comment(s) for the answer:</strong>
            {% for comment in comments %}
                {% if answer.id == comment.answer_id %}

                <div id="answer-comments">
                    <small id="question-submission_time"><br>Edited: {{ comment.edited_count }}
                        <br>Written on: {{ comment.submission_time }}
                     </small><br>
                    <br><a href="/comments/{{ comment.id }}/delete" id="answer-delete">X</a>
                    {{ comment.message }} <a href="/comment/{{ comment.id }}/edit">Edit</a><br>
                </div>

                {% endif %}
            {% endfor %}
            <br><br>
            <a href="/answer/{{ answer.id }}/new-comment">Add comment</a>
            <a href="/answer/{{ answer.id }}/vote_up" id="answer-vote-up" class="btn btn-success">
                Up vote</a>
            <a href="/answer/{{ answer.id }}/vote_down" id="answer-vote-down" class="btn btn-danger">
                Down vote</a>

            <hr>
        {% endif %}
    {% endfor %}

    <br>
        {% for question in questions %}
            {% if question_id == question.id %}
                <center>
                <a href="/question/{{ question.id }}/new-tag" class="btn btn-warning" id="edit-question">Add new tag</a>
                <a href="/question/{{ question.id }}/new-comment" class="btn btn-info" id="edit-question">Add comment</a>
                <a href="/question/{{ question.id }}/edit" id="edit-question" class="btn btn-primary">Edit the question</a>
                <a href="/question/{{ question_id }}/delete" id="edit-question" class="btn btn-danger">Delete the question</a>

            {% endif %}
        {% endfor %}
                <a href="/" id="edit-question" class="btn btn-secondary">Main Page</a>
                </center>
            <br><br>
{% endblock %}