{% extends "base.html" %}

{% block head %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/list.css')}}">
{% endblock %}

{% block header %}

    <div class="topnav">
        <a href="/users" id="nav-hrefs" class="btn-secondary">Back</a>
        <a href="/" id="nav-hrefs" class="btn-secondary" style="float:right">Main page</a>
    </div>
    <br>

    <center>
    <br><br>
    <div>
        <h1>Information about the user</h1>
    </div>
    </center>
    <br><br>
{% endblock %}

{% block content %}

    <table border="1" width="100%" style="text-align:center; font-size: 18px">
    <thead>

    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Create date</td>
        <td>Asked question</td>
        <td>Answers</td>
        <td>Comments</td>
        <td>Reputation</td>
    </tr>
    </thead>

    <tbody>
    {% for count in count_activity %}
            {% if user_id == count.id %}
    <tr>
                <th>{{ count.id }}</th>
                <th>{{ count.name }}</th>
                <th>{{ count.created_date }}</th>
                <th>{{ count.asked_question  }}</th>
                <th>{{ count.answered }}</th>
                <th>{{ count.commented }}</th>
                <th>{{ count.reputation }}</th>
            {% endif %}
        {% endfor %}
    </tr>
    </tbody>
    </table>

    <br><br>
    <div class="questions_for_user">
    <h2>Question(s):</h2>
    <br>
        {% for question in questions %}
            {% if user_id == question.user_id %}
                <p>
                <h5 style="margin: 10px">{{ question.title }}</h5>
                    <a href="/question/{{ question.id }}" id="user_id" style="margin: 20px">{{ question.message }}</a>
                <hr>
                </p>
            {% endif %}
        {% endfor %}
    </div>

    <br>
    <div class="answer_for_user">
    <h2>Answer(s):</h2>
    <br>
        {% for answer in answers %}
            {% if user_id == answer.user_id %}
                <p>
                    <a href="/question/{{ answer.question_id }}" id="user_id" style="margin: 20px">{{ answer.message }}</a>
                <hr>
                </p>
            {% endif %}
        {% endfor %}
    </div>

    <br>
    <div class="comment_for_user">
    <h2>Comments(s):</h2>
        {% for comment in comments %}
            {% if user_id == comment.user_id %}
                <p><br>
                    {% if comment.question_id %}
                        <a href="/question/{{ comment.question_id }}" id="user_id" style="margin: 20px">{{ comment.message }}</a>
                    {% elif comment.answer_id %}

                        {% for answer in answers %}
                            {% if comment.answer_id == answer.id %}
                                <a href="/question/{{ answer.question_id }}" id="user_id" style="margin: 20px">{{ comment.message }}</a>
                            {% endif %}
                        {% endfor %}

                    {% endif %}
                <hr>
                </p>
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}