{% extends "base.html" %}
{% block head %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block content %}
    <main>
        <section style="margin: 250px; background-color: cadetblue">
        <center>
            <br>
            <h3>LOGIN</h3><br>
            <form method="post" id="login_form">
                <input type="text" name="username" id="username" placeholder="Username"><br><br>
                <input type="password" name="password" id="password" placeholder="Password"><br><br>
                <button type="submit" id="nav-hrefs" class="btn btn-danger">Login</button>
            </form>
            <br>
            <h6 style="color:darkred">{{ error }}</h6>

        </center>
        </section>
        <a href="/" id="nav-hrefs" class="btn btn-primary">Back to main page</a>
    </main>
{% endblock %}