{% extends "base.html" %}
{% block head %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/list.css')}}">
{% endblock %}

{% block content %}
    <main>
        <form method="post" id="login_form">
            <label for="username">Username(email): </label>
            <input type="text" name="username" id="username">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password"><br>
            <button type="submit" id="nav-hrefs" class="btn-danger">Login</button>
        </form>
        {{ error }}

    </main>
{% endblock %}