{% extends "base.html" %}

{% block head %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post_answer.css')}}">
{% endblock %}

{% block content %}

    <main>
        <section>

            {% for question in questions %}
                {% if question_id == question.id %}
                    <form action="/question/{{ question.id }}/new-answer" method="POST">

                        <div class="form-group">
                            <label for="answer" id="label-comment">Answer for the question</label><br>
                            <textarea class="form-control" id="answer" minlength ="2" name="answer" required></textarea><br>
                        </div>

                        <h4>Upload a picture</h4><br>
                     <div class="container">
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFileInput" name="image" aria-describedby="customFileInput">
                            <label class="custom-file-label" for="customFileInput">Select file</label>
                          </div>
                        </div>
                      </div>
                    <br><br>
                    <center><button type="submit" class="btn-primary" id="submit">Add your answer</button></center>

                    </form>
            <br><br><a href="/question/{{ question_id }}" id="back-to-posts" class="btn btn-info">Back to post</a>

                  <script>
                    document.querySelector('.custom-file-input').addEventListener('change', function (e) {
                      var name = document.getElementById("customFileInput").files[0].name;
                      var nextSibling = e.target.nextElementSibling
                      nextSibling.innerText = name
                    })
                </script>

                {% endif %}
            {% endfor %}

        </section>
    </main>
{% endblock %}