{% extends 'base.html' %}
{% block head %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block content %}
    <main>
        <section style="margin: 250px; background-color: cadetblue">
            <center>
            <br>
            <h3>REGISTRATION</h3><br>
            <form method="post">
                <input type="text" name="username" id="username" placeholder="Username"><br><br>
                <input type="password" name="password1" id="password1" placeholder="Password"><br><br>
                <input type="password" name="password2" id="password2" placeholder="Password again"><br><br>
                <button type="submit" value="submit" id="nav-hrefs" class="btn btn-success">REGISTRATION</button>
            </form>
                <br>
                <h6 style="color:darkred">{{ error_message }}</h6>

                    </center>
        </section>
     <a href="/" id="nav-hrefs" class="btn btn-primary">Back to main page</a>
    </main>

{% endblock %}