{% extends "base.html" %}

{% block head %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/display_question.css')}}">
{% endblock %}

{% block content %}
    <br>
        <center><h1>Result of questions with searched phrase "{{ phrase }}"</h1><br>
        <a href="/" id="back-to-posts" class="btn btn-secondary">Main Page</a></center>

        <hr>
        {% set highlight = "<span style='color:red'>{{phrase}}</span>" %}
        {% set replaced = highlight | replace('{{phrase}}',phrase) %}

        {% for question in questions %}
        {% autoescape false %}
                {% if question.id in ids %}

                    <span id="phrase">{{ question.title | lower | replace(phrase,replaced) }}</span>
                      <a href="/question/{{ question.id }}" id="question-message-link">
                      <p id="question-message">
                          <br>
                          {{ question.message | lower | replace(phrase, replaced) }}
                      </p>
                      </a><br>

                    {% for answer in answers %}
                        {% if answer.question_id == question.id and phrase in answer.message.lower() %}
                            <span id="answer-phrase-placement">Answer --> {{ answer.message | lower | replace(phrase, replaced)}}<br></span>
                        {% endif %}
                    {% endfor %}
                      <hr>
                {% endif %}
            {% endautoescape %}
        {% endfor %}

{% endblock %}