{% extends "base.html" %}

{% block head %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/list.css')}}">
{% endblock %}

    {% block header %}

    <div class="topnav">
        <a href="/" id="nav-hrefs" class="btn btn-secondary">Main Page</a>
        <div class="search-container">
            <form action="/search">
                <input type="text" name="phrase" placeholder="Search for phrase..">
                <button type="submit">🔎</button>
            </form>
        </div>
    </div>

        <br><br><br><br>
        <center><h1>Result of questions with searched phrase "{{ phrase }}"</h1><br></center>
        <hr><br>

    {% endblock %}


{% block content %}
    <main>
        <section>

            {% set highlight = "<span style='color:red'>{{phrase}}</span>" %}
            {% set replaced = highlight | replace('{{phrase}}',phrase) %}

            {% for question in questions %}
            <article>
            {% autoescape false %}
                    {% if question.id in ids %}

                        <small id="question-views">{{ question.view_number }} views</small>
                        <h2><strong>{{ question.title | replace(phrase,replaced) }}</strong></h2>
                        <small id="question-small-tag">{{ question.submission_time }} | ⇅{{ question.vote_number }}</small>
                        <br>

                          <a href="/question/{{ question.id }}" id="question-message-link">
                              <br>{{ question.message | replace(phrase, replaced) }}</a>
                        <br><br>

                        {% if question.image %}
                         <img src="static/{{ question.image }}" alt="{{ question.image }}" id="question-image">
                          <br><br>
                        {% endif %}

                        {% for answer in answers %}
                            {% if answer.question_id == question.id and phrase in answer.message.lower() %}
                                <h5>Answer:</h5>
                                <div class="answer-phrase-placement">- {{ answer.message | replace(phrase, replaced)}}<br></div>
                            {% endif %}
                        {% endfor %}
                        <br>

                    {% endif %}
                {% endautoescape %}

            </article>
        {% endfor %}

        </section>
    </main>
{% endblock %}